.container {
  display: flex;
  justify-content: flex-end;
}

a {
  margin: 20px;
  font-size: 40px;
  text-decoration: none;
  color: #95a5a6;
  font-family: raleway;
  border-bottom: 1px solid #52c9aa;
}

a:hover {
  color: #3498db;
  border-bottom: #3498db;
  transition: color 0.5s ease-out 100ms;
}

@media screen and (max-width: 920px) {
  .container {
    justify-content: space-around;
  }
  a {
    font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
    background: #34495e;
  }
  a {
    color: white;
  }
}